@import "colors";

#admin-panel-page{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-size: 50px;
    margin: 1% 3% 0;
  }

  .options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    a{
      flex: 0 0 20%;
      font-size: 30px;
      color: white;
      background-color: #010173;
      border: 1px solid #040a36;
      border-radius: 15px;
      width: 380px;
      height: auto;
      padding: 100px 50px;
      margin: 5%;
      text-align: center;
      text-decoration: none;

      &:hover{
        background-color: #11349f;
      }
    }
  }
}