@charset "UTF-8";
#edit-facility-page, #edit-centre-page {
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 20px;
}
#edit-facility-page .facilities-container, #edit-facility-page .centres-container, #edit-centre-page .facilities-container, #edit-centre-page .centres-container {
  display: flex;
  flex-wrap: wrap;
}
#edit-facility-page .facilities-container #table-container button, #edit-facility-page .centres-container #table-container button, #edit-centre-page .facilities-container #table-container button, #edit-centre-page .centres-container #table-container button {
  background-color: #4CAF50; /* Zielony kolor przycisku */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s;
}
#edit-facility-page .facilities-container #table-container button:hover, #edit-facility-page .centres-container #table-container button:hover, #edit-centre-page .facilities-container #table-container button:hover, #edit-centre-page .centres-container #table-container button:hover {
  background-color: #45a049; /* Ciemniejszy odcień zielonego koloru po najechaniu na przycisk */
}
#edit-facility-page .facilities-container #table-container table td, #edit-facility-page .centres-container #table-container table td, #edit-centre-page .facilities-container #table-container table td, #edit-centre-page .centres-container #table-container table td {
  padding: 1%;
  margin: 1%;
  /* Dodaj animacje dla modala */
}
#edit-facility-page .facilities-container #table-container table td .modal, #edit-facility-page .centres-container #table-container table td .modal, #edit-centre-page .facilities-container #table-container table td .modal, #edit-centre-page .centres-container #table-container table td .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#edit-facility-page .facilities-container #table-container table td .modal-content, #edit-facility-page .centres-container #table-container table td .modal-content, #edit-centre-page .facilities-container #table-container table td .modal-content, #edit-centre-page .centres-container #table-container table td .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #0b0b18;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
#edit-facility-page .facilities-container #table-container table td .modal-content, #edit-facility-page .centres-container #table-container table td .modal-content, #edit-centre-page .facilities-container #table-container table td .modal-content, #edit-centre-page .centres-container #table-container table td .modal-content {
  animation: modal-appear 0.3s ease-out;
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
#edit-facility-page .facilities-container #edit-form-container, #edit-facility-page .centres-container #edit-form-container, #edit-centre-page .facilities-container #edit-form-container, #edit-centre-page .centres-container #edit-form-container {
  display: none;
  margin-left: 5%;
}
#edit-facility-page .facilities-container #edit-form-container h2, #edit-facility-page .centres-container #edit-form-container h2, #edit-centre-page .facilities-container #edit-form-container h2, #edit-centre-page .centres-container #edit-form-container h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}
#edit-facility-page .facilities-container #edit-form-container form label, #edit-facility-page .centres-container #edit-form-container form label, #edit-centre-page .facilities-container #edit-form-container form label, #edit-centre-page .centres-container #edit-form-container form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}
#edit-facility-page .facilities-container #edit-form-container form label input, #edit-facility-page .centres-container #edit-form-container form label input, #edit-centre-page .facilities-container #edit-form-container form label input, #edit-centre-page .centres-container #edit-form-container form label input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}
#edit-facility-page .facilities-container #edit-form-container form label input:focus, #edit-facility-page .centres-container #edit-form-container form label input:focus, #edit-centre-page .facilities-container #edit-form-container form label input:focus, #edit-centre-page .centres-container #edit-form-container form label input:focus {
  outline: none;
  border-color: #001f3f; /* Granatowy kolor po najechaniu na pole input */
}
#edit-facility-page .facilities-container #edit-form-container form button, #edit-facility-page .centres-container #edit-form-container form button, #edit-centre-page .facilities-container #edit-form-container form button, #edit-centre-page .centres-container #edit-form-container form button {
  background-color: #001f3f; /* Granatowy kolor przycisku */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s;
}
#edit-facility-page .facilities-container #edit-form-container form button:hover, #edit-facility-page .centres-container #edit-form-container form button:hover, #edit-centre-page .facilities-container #edit-form-container form button:hover, #edit-centre-page .centres-container #edit-form-container form button:hover {
  background-color: #003366; /* Ciemniejszy odcień granatowego koloru po najechaniu na przycisk */
}

/*# sourceMappingURL=edit_facility.css.map */
