@import "colors";

#edit-profile-page{
  margin-top: 150px;
  margin-left: 10%;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

  .profile-container{
    border-radius: 8px;
    border: 1px solid $light-blue;
    padding: 60px;
    //width: 50vw;
    text-align: center;

    h1 {
      color: $white;
    }

    .error {
      color: red;
    }

    .register-fields {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .register-field {
        margin: 20px 0;
        text-align: center;
        //width: 30%;
        color: $white;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;

          &:disabled {
            background-color: #bebebe; /* Twój wybrany kolor tła dla disabled */
          }
        }
      }
    }
  }
}