@import "colors";

#edit-profile-page{
  margin-top: 150px;
  margin-left: 15%;
  margin-right: 15%;
  color: $white;
  display: flex;
  //justify-content: center;
  //align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  flex: 1;


  .profile-container{

    //padding: 2% 5%;
    //width: auto;
    //text-align: center;
    margin-bottom: 5%;

    h1 {
      color: $white;
    }

    .error {
      color: red;
    }

    .edit-button, .save-button{
      font-size: 20px;
      padding: 15px;
      margin: 10px;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .edit-button{
      background-color: #25259a;

      &:hover {
        background-color: #081549;
      }
    }

    .save-button{
      background-color: #00a107;
      margin-left: 10%;
      &:hover {
        background-color: #067e15;
      }
    }

    .register-fields {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      //align-items: start;

      .register-field {
        margin: 20px 0;
        //text-align: center;
        //width: 30%;
        color: $white;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 25px;
          font-weight: bold;
        }

        input {
          min-width: 30%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 20px;


          &:disabled {
            background-color: #bebebe; /* Twój wybrany kolor tła dla disabled */
          }
        }
      }
    }
  }
}