@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Roboto:wght@300&display=swap');
body{
  background: radial-gradient(circle, #020209, #080833);
}
#edit-facility-page, #edit-centre-page, #edit-reservation-page, #edit-user-page{
  color: white;
  margin-left: 5%;
  margin-bottom: 30px;
  font-size: 20px;
  .title{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    .logo{
      max-width: 200px;
      height: auto;
    }
  }

  .facilities-container, .centres-container, .reservation-container, .users-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    //justify-content: center;
    //align-items: center;

    #table-container {
      margin-top: 3%;
      margin-right: 15%;

      button{
        background-color: #4CAF50; /* Zielony kolor przycisku */
        color: white;
        padding: 15px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049; /* Ciemniejszy odcień zielonego koloru po najechaniu na przycisk */
        }
      }
      table {
        text-align: center;

        thead {

          th {
            //margin: 15px;
            padding: 10px;

          }
        }
        tbody tr {
          //border: 1px antiquewhite solid;
          //background-color: #08083a;
        }

        td {
          padding: 2%;
          margin: 5%;

          svg{
            background-color: #001f3f;
            padding: 5px;
            border-radius: 15px ;

            &:hover {
              background-color: #003366; /* Ciemniejszy odcień granatowego koloru po najechaniu na przycisk */
            }
          }

          .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }

          .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #001f3f;
            color: #ffffff;
            padding: 20px;
            text-align: center;
            border-radius: 8px;
          }

          /* Dodaj animacje dla modala */
          .modal-content {
            animation: modal-appear 0.3s ease-out;

            #confirmDelete{
              background-color: #960606;
              margin-right: 15px;
            }


          }

          @keyframes modal-appear {
            from {
              opacity: 0;
              transform: translate(-50%, -60%);
            }
            to {
              opacity: 1;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    #edit-form-container, #new-form-container {
      display: none;
      margin-left: 5%;
      font-size: 26px;


      h2 {
        font-size: 35px;
        color: #cbc1c1;
        margin-bottom: 10px;
      }

      form {
        label {
          display: block;
          margin-bottom: 10px;

          input, select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s;
            font-size: 20px;

            &:focus {
              outline: none;
              border-color: #001f3f; /* Granatowy kolor po najechaniu na pole input */
            }

            &:disabled {
              background-color: #bebebe; /* Twój wybrany kolor tła dla disabled */
            }
          }
        }

        button {
          background-color: #001f3f; /* Granatowy kolor przycisku */
          color: white;
          padding: 10px;
          margin-top: 5%;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          font-size: 30px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #003366; /* Ciemniejszy odcień granatowego koloru po najechaniu na przycisk */
          }
        }
      }
    }


  }
}

