@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Roboto:wght@300&display=swap");
#edit-facility-page, #edit-centre-page {
  color: white;
  margin-left: 5%;
  margin-bottom: 30px;
  font-size: 20px;
}
#edit-facility-page .title, #edit-centre-page .title {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
#edit-facility-page .title .logo, #edit-centre-page .title .logo {
  max-width: 200px;
  height: auto;
}
#edit-facility-page .facilities-container, #edit-facility-page .centres-container, #edit-centre-page .facilities-container, #edit-centre-page .centres-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#edit-facility-page .facilities-container #table-container, #edit-facility-page .centres-container #table-container, #edit-centre-page .facilities-container #table-container, #edit-centre-page .centres-container #table-container {
  margin-top: 3%;
  margin-right: 15%;
}
#edit-facility-page .facilities-container #table-container button, #edit-facility-page .centres-container #table-container button, #edit-centre-page .facilities-container #table-container button, #edit-centre-page .centres-container #table-container button {
  background-color: #4CAF50; /* Zielony kolor przycisku */
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  transition: background-color 0.3s;
}
#edit-facility-page .facilities-container #table-container button:hover, #edit-facility-page .centres-container #table-container button:hover, #edit-centre-page .facilities-container #table-container button:hover, #edit-centre-page .centres-container #table-container button:hover {
  background-color: #45a049; /* Ciemniejszy odcień zielonego koloru po najechaniu na przycisk */
}
#edit-facility-page .facilities-container #table-container table, #edit-facility-page .centres-container #table-container table, #edit-centre-page .facilities-container #table-container table, #edit-centre-page .centres-container #table-container table {
  text-align: center;
}
#edit-facility-page .facilities-container #table-container table td, #edit-facility-page .centres-container #table-container table td, #edit-centre-page .facilities-container #table-container table td, #edit-centre-page .centres-container #table-container table td {
  padding: 2%;
  margin: 5%;
  /* Dodaj animacje dla modala */
}
#edit-facility-page .facilities-container #table-container table td svg, #edit-facility-page .centres-container #table-container table td svg, #edit-centre-page .facilities-container #table-container table td svg, #edit-centre-page .centres-container #table-container table td svg {
  background-color: #001f3f;
  padding: 5px;
  border-radius: 15px;
}
#edit-facility-page .facilities-container #table-container table td svg:hover, #edit-facility-page .centres-container #table-container table td svg:hover, #edit-centre-page .facilities-container #table-container table td svg:hover, #edit-centre-page .centres-container #table-container table td svg:hover {
  background-color: #003366; /* Ciemniejszy odcień granatowego koloru po najechaniu na przycisk */
}
#edit-facility-page .facilities-container #table-container table td .modal, #edit-facility-page .centres-container #table-container table td .modal, #edit-centre-page .facilities-container #table-container table td .modal, #edit-centre-page .centres-container #table-container table td .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#edit-facility-page .facilities-container #table-container table td .modal-content, #edit-facility-page .centres-container #table-container table td .modal-content, #edit-centre-page .facilities-container #table-container table td .modal-content, #edit-centre-page .centres-container #table-container table td .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #001f3f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
#edit-facility-page .facilities-container #table-container table td .modal-content, #edit-facility-page .centres-container #table-container table td .modal-content, #edit-centre-page .facilities-container #table-container table td .modal-content, #edit-centre-page .centres-container #table-container table td .modal-content {
  animation: modal-appear 0.3s ease-out;
}
#edit-facility-page .facilities-container #table-container table td .modal-content #confirmDelete, #edit-facility-page .centres-container #table-container table td .modal-content #confirmDelete, #edit-centre-page .facilities-container #table-container table td .modal-content #confirmDelete, #edit-centre-page .centres-container #table-container table td .modal-content #confirmDelete {
  background-color: #960606;
  margin-right: 15px;
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
#edit-facility-page .facilities-container #edit-form-container, #edit-facility-page .centres-container #edit-form-container, #edit-centre-page .facilities-container #edit-form-container, #edit-centre-page .centres-container #edit-form-container {
  display: none;
  margin-left: 5%;
  font-size: 26px;
}
#edit-facility-page .facilities-container #edit-form-container h2, #edit-facility-page .centres-container #edit-form-container h2, #edit-centre-page .facilities-container #edit-form-container h2, #edit-centre-page .centres-container #edit-form-container h2 {
  font-size: 35px;
  color: #cbc1c1;
  margin-bottom: 10px;
}
#edit-facility-page .facilities-container #edit-form-container form label, #edit-facility-page .centres-container #edit-form-container form label, #edit-centre-page .facilities-container #edit-form-container form label, #edit-centre-page .centres-container #edit-form-container form label {
  display: block;
  margin-bottom: 10px;
}
#edit-facility-page .facilities-container #edit-form-container form label input, #edit-facility-page .facilities-container #edit-form-container form label select, #edit-facility-page .centres-container #edit-form-container form label input, #edit-facility-page .centres-container #edit-form-container form label select, #edit-centre-page .facilities-container #edit-form-container form label input, #edit-centre-page .facilities-container #edit-form-container form label select, #edit-centre-page .centres-container #edit-form-container form label input, #edit-centre-page .centres-container #edit-form-container form label select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  font-size: 20px;
}
#edit-facility-page .facilities-container #edit-form-container form label input:focus, #edit-facility-page .facilities-container #edit-form-container form label select:focus, #edit-facility-page .centres-container #edit-form-container form label input:focus, #edit-facility-page .centres-container #edit-form-container form label select:focus, #edit-centre-page .facilities-container #edit-form-container form label input:focus, #edit-centre-page .facilities-container #edit-form-container form label select:focus, #edit-centre-page .centres-container #edit-form-container form label input:focus, #edit-centre-page .centres-container #edit-form-container form label select:focus {
  outline: none;
  border-color: #001f3f; /* Granatowy kolor po najechaniu na pole input */
}
#edit-facility-page .facilities-container #edit-form-container form button, #edit-facility-page .centres-container #edit-form-container form button, #edit-centre-page .facilities-container #edit-form-container form button, #edit-centre-page .centres-container #edit-form-container form button {
  background-color: #001f3f; /* Granatowy kolor przycisku */
  color: white;
  padding: 10px;
  margin-top: 5%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 30px;
  transition: background-color 0.3s;
}
#edit-facility-page .facilities-container #edit-form-container form button:hover, #edit-facility-page .centres-container #edit-form-container form button:hover, #edit-centre-page .facilities-container #edit-form-container form button:hover, #edit-centre-page .centres-container #edit-form-container form button:hover {
  background-color: #003366; /* Ciemniejszy odcień granatowego koloru po najechaniu na przycisk */
}

/*# sourceMappingURL=edit_facility.css.map */
