@import "colors";

.facility-page{
  margin-top: 150px;
  color: $white;
  display: flex;
}

.facility{
  //display: flex;
  width: 100%;
  padding-left: 100px;
  margin-left: 150px;
  margin-right: 150px;
  flex-wrap: wrap;
  background-color: $blue;

  .hour{
    background-color: green;
  }
}