@import "colors";


body {
  margin: 0;
  padding: 0;
  background-color: #0b0b18;
  font-family: 'Montserrat', sans-serif;
}


.container{
  background-image: url('../images/main_page_images/main_photo1.jpg');
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  //min-height: 600px;
  height: 70vh;
  //margin-top: 150px;
  border-bottom: solid $light-blue;
  flex: 1;

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }


  .main_header{
    color: $white;
    padding-top: 15%;
    padding-left: 100px;
    font-size: 55px;
    max-width: 40%;

    p{
      text-shadow: -2px -2px 2px black;    }
  }

  .reserve_button{
    background-color: #23C0E9;
    padding: 10px 0;
    margin-left: 100px;
    margin-bottom: 100px;
    text-align: center;
    max-width: 20%;
    border-radius: 20px;


    a{
      color: $white;
      font-size: 2.5vw;
      text-decoration: none;
    }
  }
}

.tiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $gray;

  .tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: #bebebe solid 0.5px;
    border-right: #bebebe solid 0.5px;
    padding: 25px;
    color: white;
    width: 13%;
    transition: all 200ms;
    &:hover{
      background: $light-blue;
      box-shadow: 0px 0px 37px #00000091;
      transform: scale(1.1);
  }

    img{
      width: 100px;
      height: auto;
    }
    a{
      padding-top: 20px;
    }
  }
}


@media (max-width: 1420px) {
  .tile{
    width: 45%;
  }
}