
/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import "colors";

.navbar {

  background-color: $dark-blue;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: solid $light-blue;



  @media (max-width: 1000px) {
    .logo {
      max-width: none;
      width: 70px;
      height: auto;
    }

    .navbar-menu{
      padding-left: 0;

      .navbar-item{
        font-size: 1.5vw;
      }
    }
  }

  .navbar-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-item {
      list-style: none;
      font-family: "Fira Sans", sans-serif;
      //font-size: 1rem;
      padding-left: 5vw;
      padding-right: 5vw;

      a {
        color: $light-blue;
        text-decoration: none;
        &:hover {
          //background-color: #111;
        }
      }
      span{
        color: $white;
      }

      .submenu {
        display: none;
        position: absolute;
        background-color: $dark-blue;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        padding: 0;


        ul{
          padding: 15px;
          margin: 10px;
        }
      }

      .show-submenu {
        display: block;
        right: 0;
      }

    }
  }

}


.logo {
  //width: 70%;
  max-width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
}