
/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import "colors";

.navbar {

  background-color: $dark-blue;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: solid $light-blue;
  .logo {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .navbar-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-item {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 1vw;
      padding-left: 5vw; /* Odstęp z lewej strony elementu */
      padding-right: 5vw; /* Odstęp z prawej strony elementu */

      a {
        color: $light-blue;
        text-decoration: none;
        &:hover {
          background-color: #111;
        }
      }
      span{
        color: $white;
      }

      .submenu {
        display: none;
        position: absolute;
        background-color: $blue; /* Kolor tła submenu */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Dodaj cień */
        transition: opacity 0.3s ease-in-out; /* Dodaj płynne przejście */
      }

      .show-submenu {
        display: block;
      }

    }
  }

}


