.register-page{
  margin-top: 150px;
  color: #f2f2f2;
  display: flex;
}

.register-container{
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  width: 75%;
}


.register-field label{
  font-size: 20px;
  font-weight: 500;
  color: #2e2e2e;
}
.register-field input, select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.register-field input :focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
