@import "colors";

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-container {
    background-color: $blue;
    border-radius: 8px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 30vw;
    text-align: center;


    h1 {
      color: $white;
    }

    .register-fields{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .register-field {
        margin: 10px 0;
        text-align: center;
        width: 30%;
        color: $white;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }

      button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 10px;
      }

      button:hover {
        background-color: #267dbf; /* Kolor tła po najechaniu myszką */
      }
    }
  }
}



