@import "colors";

#your-reservations-page{
  margin-top: 150px;
  margin-left: 10%;
  margin-right: 10%;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  flex: 1;


  .reservation{
    border-bottom: $light_blue solid 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 5%;
    margin-bottom: 5%;

    .info{
      margin: 5%;

      .label{
        color: #aba9a9;
      }

      .data{
        font-size: 25px;
      }
    }

    img{
      border-radius: 10px;
      max-width: 25%;
      height: auto;
    }
  }
}

