@import "colors";

.offers-page, #favourites-page{
  margin-top: 150px;
  color: $white;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  flex: 1;


  h1{
    font-size: 50px;
    margin-left: 14%;
    margin-bottom: 5%;
  }

  .filter-panel{
    //max-width: 20%;
    margin-left: 2%;
    margin-right: 5%;

    .filter {
      background-color: $blue;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 20px;

      &:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

      &:hover{
        background-color: $dark-blue;
      }
    }

    .active {
      background-color: $dark-blue;

      &:after{
        content: "\2212";
      }
    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: $blue;

      .item{
        margin: 2px;
        font-size: 20px;
        //width: 100%;
        //display: inline-block;

        &:hover{
          background-color: #020c33;
        }


      }


    }
  }
}


.offers-container{
  display: flex;

  flex-wrap: wrap;
  //background-color: $dark-blue;
  //width: 70%;
  margin-right: 5%;
  border-radius: 15px;

  .facility-item{
    padding: 50px;
    text-decoration: none;
    color: $white;
    //max-width: 30%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080c18;
    border: $light-blue solid 1px;
    margin: 0 5% 5%;
    border-radius: 10px;

    &:hover{
      background-color: #01011e;
      transition: all 200ms ease-in;
      opacity: 1;

    }

    .facility-image{
      max-width: 450px;
      height: auto;
      border-radius: 5px;
    }

    button{
      margin-top: 5%;
      display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      background-color: #001f3f;
      color: #ffffff;
      border: 2px solid #001f3f;
      border-radius: 5px;

      &:hover{
        background-color: #003366;
        border-color: #003366;

      }
    }

  }
}




